{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.5%, last 2 version, not dead"
            }
        ]
    ],
    "sourceMaps": true,
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
